<main>
	{{#if hasProducts}}
		{{#each products}}
			<h1>{{this.title}}</h1>
			<img src="{{this.imgUrl}}" alt="{{this.title}}" />
			<p>${{this.price}}</p>
			<p>{{this.description}}</p>
			<a href="/admin/edit-product">Edit</a>
			<form action="/admin/delete-product" method="POST">
				<button type="submit">Delete</button>
			</form>
		{{/each}}
	{{else}}
		<p>No products here!</p>
	{{/if}}
</main>
