<h1>{{product.title}}</h1>
<hr>
<img src="{{product.image}}" alt="{{product.title}}">
<h2>{{product.price}}</h2>
<p>{{product.description}}</p>
<form action="/cart" method="POST">
	<input type="hidden" name="id" value="{{product.id}}">
	<button type="submit">Add To Cart</button>
</form>
